.navbar-brand{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}
.navbar-brand p{
    max-width: 100px;
}

.navigation{
    background-color: rgb(41,41,41);
    padding: 20px 0 30px 10px;
}


.allLink{
    margin-left: 60%;
}

.nav-item{
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.nav-link{
    font-weight: bold;
    padding: 20px 10px 0 0px ;
    color: white;
    text-decoration: none;
    transition: .5s;

    &:hover{
        color: grey;
    }
    &:focus{
        color: grey;
    }
}

.logo{
    padding-top: 0;
    margin-top: 0;
    margin-left: 10px;
    position: absolute;
    width: 60px;
    height: 70px;
}