body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(41,41,41);
}

.App {
    color: white;
    background-color: rgb(41,41,41);
    padding: 5rem 1rem 5rem 5rem;
    border: solid 1px white;
    width: 15vw;
    transform: translate(200%,30%);
}
.navbar {
    display: inline-flex;
}
.container {
    border: 1px solid white;
    padding: 1em;
    border-radius: 3px;
}

.form-field {
  margin: 0.2em;
}

  