body {
    font-family: sans-serif;
    background-color: ivory;
    display: flex;
    justify-content: center;
    transform: translate(0,50%);
}

.App {
    background-color: lightgray;
    padding: 5rem 5rem 5rem 6rem;
    border: solid;
    width: initial;
}
.navbar {
    display: inline-flex;
}
.container {
    border: 1px solid black;
    padding: 1em;
    border-radius: 3px;
}

.form-field {
  margin: 0.2em;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  